.dashboard-container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: #f9fbff;
}

.address-wrapper {
  padding: 20px 40px 0px 30px;
  
  &__header {
    color: #7f9af5;
    border-bottom: 2px solid #4c00ff;
    width: 85px;
  }
  
  &__button {
    width: 140px;
    float: right;
  }
}

.address-card-wrapper {
  background: #f4f5f7;
  height: 80vh;
  margin-top: 100px;
  padding: 15px;
  box-shadow: 1px 5px 16px 0 rgba(0, 0, 0, 0.19);
  h1 {
    color: #7f9af5;
  }
}

.address-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  :hover {
    opacity: 0.8;
  }
  
  &__box {
    border: 2px solid #f4f4f4;
    border-radius: 6px;
    box-shadow: 2px 3px;
    padding-left: 10px;
    cursor: pointer;
    background: #d9e0f5;
  }
}
