.form {
  background-color: #ffffff;
  padding: 20px;
    
  &__area {
      background-color: #f7f7f7;
      width: 35%;
      height: 80%;
      margin: 0 auto;
      padding: 20px;
      margin-top: 75px;
      border-radius: 5px;
      box-shadow: 1px 5px 16px 0 rgba(0, 0, 0, 0.19);
  
      &--header {
        padding: 10px 0 0 30px;
      }
    }
  }
  
