%generic-btn {
  background-color: #ffffff;
  width: 78px;
  height: 28px;
  border: 1px solid #3359db;
  border-radius: 2px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  cursor: pointer;
  color: #3359db;
  outline: none;
}

.inline {
  position: relative;

  &::before {
    top: 50%;
  }

  &.white {
    .spinner::before {
      border-top-color: #ffffff;
    }
  }
}

.button-with-icon {
  display: flex;
  justify-content: space-between;
}

.button {
  &.small {
    @extend %generic-btn;
  }

  &.regular {
    @extend %generic-btn;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;

    &--bold {
      font-weight: 700;
    }

    &--light {
      font-weight: 300;
    }

    &.blue,
    &.active {
      background-color: #3359db;
      color: #ffffff;
    }
  }
}
