.address-modal {
  background-color: #ffffff;
  width: 640px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);

  &__header {
    width: 361px;
    height: 28px;
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
    color: #3359db;
  }

  &__footer {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-start;
    margin-top: 20px;

    &__item {
      margin-right: 21px;
    }
  }

  &__details {
    color: #323236;
    span {
      font-size: 18px;
      font-weight: 700;
    }
  }

  &__input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__form-field {
    width: 95%;
    padding-top: 10px;
    :focus {
      border: 2px solid #3359db;
      outline: none;
    }
  }
}
